@{
    ViewData["Title"] = "Gallery  Page";
}

<div class="text-center">
   
    <ol>
        <li>Flower</li>
        <li>Fruits</li>
        <li>Vegetables</li>
    </ol>

    <hr>

    @{
         List<string>flower =new List<string>();
                flower.Add("gerbera");
                flower.Add("lily");
                flower.Add("marigold");
                flower.Add("sunflower");

                <ol>
                     @foreach(string flwr in flower){
                    <li>@flwr</li>
                }

                </ol>
           
    }

    <hr>

   @*  here in src , write folder name and image name directly. *@
    <span><img src="/images/gerbera.jpeg" alt="not found" width="100" height="100"></span>
    <span><img src="/images/lily.jpeg" alt="not found" width="100" height="100"></span>
    <span><img src="/images/marigold.jpeg" alt="not found" width="100" height="100"></span>
    <span><img src="/images/sunflower.jpeg" alt="not found" width="100" height="100"></span>
   
    <form action="">

        <label for="flower">Flower Name:</label>
        <input type="text">
    </form>

               
    
        
   
</div>