@{
    ViewData["Title"] = "Login Page";
}

<h1>Login page</h1>

<hr>

<div class="text-center">

    <form action="/home/validate" >
        <label for="el">User Name:</label>
        <input type="email" id="el" name="el" required >
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" required >

        
        <input type="submit">
        
    </form>
</div>

