@{
    ViewData["Title"] = "Just Page";
}

<a href="https://www.nike.com/in/?cp=76060516106_aff_HKtG81k*FmE&ranMID=41134&ranEAID=HKtG81k*FmE&ranSiteID=HKtG81k.FmE-WFLjXSa7wDL3hfHRZYsiGA">Just do it</a>

